[submodule "Smart-Pot-ESP9266"]
	path = Smart-Pot-ESP9266
	url = https://github.com/Jakub-Glab/Smart-Pot-ESP9266.git
[submodule "Smart-Pot-WebApp"]
	path = Smart-Pot-WebApp
	url = https://github.com/Jakub-Glab/Smart-Pot-WebApp.git
